:root{
    --yellow: hsl(47, 88%, 63%);
    --white: #fff;
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --blue-600: hsl(185, 75%,39%);
    --navy-950: hsl(229, 23%, 23%);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
    --Light-slate-blue: hsl(252, 100%, 67%);
 --Light-royal-blue: hsl(241, 81%, 54%);
}