*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "fontTitulo";
    src: url(https://fonts.google.com/specimen/Lexend+Deca);
}
@font-face {
    font-family: "fonttext";
    src: url();
}

body{
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 40px;
    font-family: "font";
    
}

main{
    margin: 0 auto;
    display: flex;
    max-width: 800px;
}

.autoSedan{
    background-color: hsl(31, 77%, 52%);
    border: 5px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    color: white;

}

.tituloSe{
    margin-top: 15px;
    margin-bottom: 30px;
}

.textoSe{
    margin-top: 15px;
    margin-bottom: 150px;
}

.btn-linkSe{
    
     width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    border-radius: 14px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: whitesmoke;
    color: hsl(31, 77%, 52%);
    margin-bottom: 30px;
   
}

.btn-linkSe:hover{
    cursor: pointer;
    background-color: orange;
    color: black;
    transition: 0.5s ease-in-out;
}

.autosSuvs{
    background-color: hsl(184, 100%, 22%);
    border: 5px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    color: white;
}

.tituloSu{
    margin-top: 15px;
    margin-bottom: 30px;
}

.textoSu{
    margin-top: 15px;
    margin-bottom: 150px;
}

.btn-linkSu{
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    border-radius: 14px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: whitesmoke;
    color: hsl(184, 100%, 22%);
    margin-bottom: 30px;
}

.btn-linkSu:hover{
    cursor: pointer;
    background-color: darkcyan;
    color: black;
    transition: 0.5s ease-in-out;
}

.autosLuxury{
    background-color: hsl(179, 100%, 13%);
    border: 5px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    color: white;

}

.tituloLu{
    margin-top: 15px;
    margin-bottom: 30px;
}

.textoLu{
    margin-top: 15px;
    margin-bottom: 150px;
}

.btn-linkLu{
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    border-radius: 14px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: whitesmoke;
    color: hsl(179, 100%, 13%);
    margin-bottom: 30px;
}

.btn-linkLu:hover{
    cursor: pointer;
    background-color: darkolivegreen;
    color: black;
    transition: 0.5s ease-in-out;
}